* {
  /* A basic css reset */
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

nav {
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 3;
  height: 10vw;
  width: 100%;
}

nav .tobut {
  color: green;
  border: 2px solid green;
  background: white;
  padding: 0.7vw 3vw;
  margin: 0% 2%;
  font-size: 1vw;
}

nav .tobut:hover {
  color: lightgreen;
  border: 2px solid lightgreen;
}

nav a:first-of-type {
  margin-left: 5vw;
}

nav a {
  font-size: 1vw;
  color: black;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  padding: 1.5vw 1.4vw;
  text-decoration: none;
}

nav a img {
  width: 15vw;
}

nav .toSpace {
  flex-grow: 1;
}

nav a:hover {
  color: rgba(26, 128, 0, 0.89);
}

.sec2 {
  width: 100%;
  height: 55vw;
  background-image: url(../images/sec2.png);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.sec2 div:nth-of-type(1) {
  width: 100%;
  height: 50%;
  margin: 0% 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  overflow: hidden;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.sec2 div:nth-of-type(1) p:nth-of-type(1) {
  font-size: 4vw;
  font-weight: bold;
}

.sec2 div:nth-of-type(1) p:nth-of-type(2) {
  font-size: 2vw;
}

.sec2 div:nth-of-type(1) button {
  color: green;
  background: white;
  font-weight: bold;
  padding: 1.4vw 3.2vw;
  font-size: 1.2vw;
  border-radius: 12px;
  border: none;
}

.sec2 div:nth-of-type(2) {
  width: 100%;
  height: 40%;
  margin: 0% 5vw;
  background: url(../images/sec2laptop.png) no-repeat;
  background-size: 100% 100%;
}

.sec3 {
  width: 100%;
  height: 45vw;
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.sec3 div:nth-of-type(1) {
  width: 100%;
  height: 50%;
  margin: 0% 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  overflow: hidden;
  color: black;
  font-family: 'Montserrat', sans-serif;
}

.sec3 div:nth-of-type(1) p:nth-of-type(1) {
  font-size: 4vw;
  font-weight: bold;
}

.sec3 div:nth-of-type(1) p:nth-of-type(2) {
  font-size: 2vw;
}

.sec3 div:nth-of-type(1) button {
  color: white;
  background: green;
  font-weight: bold;
  padding: 1.4vw 3.2vw;
  font-size: 1.2vw;
  border-radius: 12px;
  border: none;
}

.sec3 div:nth-of-type(2) {
  width: 100%;
  height: 40%;
  margin: 0% 5vw;
  background: url(../images/sec3img40.png) no-repeat;
  background-size: 100% 100%;
}

.sec4 {
  width: 100%;
  height: 60vw;
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.sec4 div:nth-of-type(1) {
  width: 10%;
  height: 30%;
  margin: 4vw 5vw 0% 5vw;
  background: url(../images/sec4img.png) no-repeat;
  background-size: 100% 100%;
}

.sec4 div:nth-of-type(2) {
  margin-top: 7vw;
  margin-bottom: 7vw;
}

.sec4 div:nth-of-type(2) p:nth-of-type(1) {
  font-size: 3.5vw;
  font-weight: bold;
}

.sec4 div:nth-of-type(3) {
  width: 100%;
  height: 50%;
  margin: 0% 5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.sec4 div:nth-of-type(3) p {
  color: #888b8d;
  font-size: 2.5vw;
  margin-right: 3vw;
  margin-left: 3vw;
}

@keyframes rotateText {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  16% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes rotateText2 {
  0% {
    opacity: 0.3;
  }
  8% {
    opacity: 1;
  }
  16% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.3;
  }
}

body {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
}

body section.sec44 {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.2vw;
}

body section.sec44 > img {
  margin: 8vw 0;
  width: 5%;
  height: auto;
}

body section.sec44 > p {
  font-size: 16px;
  line-height: 22px;
  color: #000;
  padding-top: 130px;
}

@media only screen and (max-width: 735px) {
  body section.sec44 {
    font-size: 4.84vw;
    text-align: center;
  }
  body section.sec44 > img {
    width: 18%;
  }
  body section.sec44 > p {
    font-size: 3.74vw;
    margin: 5vw 0;
  }
}

body section.sec44 > div.sec4sub1 {
  display: flex;
  margin-top: 14vw;
}

@media only screen and (max-width: 735px) {
  body section.sec44 > div.sec4sub1 {
    flex-direction: column-reverse;
  }
}

body section.sec44 > div.sec4sub1 > div:first-of-type {
  margin-right: 20vw;
  margin-left: 5vw;
}

@media only screen and (max-width: 735px) {
  body section.sec44 > div.sec4sub1 > div:first-of-type {
    margin: 0 5vw;
    text-align: left;
  }
}

body section.sec44 > div.sec4sub1 > div:first-of-type h3, body section.sec44 > div.sec4sub1 > div:first-of-type a {
  color: #00a82d;
}

body section.sec44 > div.sec4sub1 > div:first-of-type h3 {
  font-size: 2.8vw;
  font-weight: 700;
}

@media only screen and (max-width: 735px) {
  body section.sec44 > div.sec4sub1 > div:first-of-type h3 {
    font-size: 8.4vw;
  }
}

body section.sec44 > div.sec4sub1 > div:first-of-type p {
  font-size: 1.5vw;
  font-weight: 700;
}

@media only screen and (max-width: 735px) {
  body section.sec44 > div.sec4sub1 > div:first-of-type p {
    font-size: 3.3vw;
    font-weight: 500;
  }
}

body section.sec44 > div.sec4sub1 > div:first-of-type a {
  text-decoration: none;
  font-size: 1.2vw;
  font-weight: 800;
  margin-top: 3vw;
}

@media only screen and (max-width: 735px) {
  body section.sec44 > div.sec4sub1 > div:first-of-type a {
    font-size: 2.64vw;
  }
}

body section.sec44 > div.sec4sub1 > div:last-of-type {
  margin-right: 15vw;
}

@media only screen and (max-width: 735px) {
  body section.sec44 > div.sec4sub1 > div:last-of-type {
    margin: 0;
  }
}

body section.sec44 > div.sec4sub2 {
  display: flex;
  margin-top: 14vw;
}

@media only screen and (max-width: 735px) {
  body section.sec44 > div.sec4sub2 {
    flex-direction: column;
  }
}

body section.sec44 > div.sec4sub2 > div:first-of-type {
  margin-left: 13vw;
}

@media only screen and (max-width: 735px) {
  body section.sec44 > div.sec4sub2 > div:first-of-type {
    margin: 0;
  }
}

body section.sec44 > div.sec4sub2 > div:last-of-type {
  margin-left: 13vw;
  margin-right: 4vw;
}

body section.sec44 > div.sec4sub2 > div:last-of-type h3, body section.sec44 > div.sec4sub2 > div:last-of-type a {
  color: #00a82d;
}

body section.sec44 > div.sec4sub2 > div:last-of-type h3 {
  font-size: 2.8vw;
  font-weight: 700;
}

body section.sec44 > div.sec4sub2 > div:last-of-type p {
  font-size: 1.5vw;
  font-weight: 700;
}

body section.sec44 > div.sec4sub2 > div:last-of-type a {
  text-decoration: none;
  font-size: 1.2vw;
  font-weight: 800;
  margin-top: 3vw;
}

@media only screen and (max-width: 735px) {
  body section.sec44 > div.sec4sub2 > div:last-of-type {
    margin: 0 5vw;
    text-align: left;
  }
  body section.sec44 > div.sec4sub2 > div:last-of-type h3 {
    font-size: 8.24vw;
  }
  body section.sec44 > div.sec4sub2 > div:last-of-type p {
    font-size: 3.3vw;
    font-weight: 500;
  }
  body section.sec44 > div.sec4sub2 > div:last-of-type a {
    font-size: 2.64vw;
  }
}

body section.sec44 > div.sec4sub3 {
  display: flex;
  margin: 14vw 0;
}

@media only screen and (max-width: 735px) {
  body section.sec44 > div.sec4sub3 {
    flex-direction: column-reverse;
  }
}

body section.sec44 > div.sec4sub3 > div:first-of-type {
  margin-right: 20vw;
  margin-left: 5vw;
}

@media only screen and (max-width: 735px) {
  body section.sec44 > div.sec4sub3 > div:first-of-type {
    margin: 0 5vw;
    text-align: left;
  }
}

body section.sec44 > div.sec4sub3 > div:first-of-type h3, body section.sec44 > div.sec4sub3 > div:first-of-type a {
  color: #00a82d;
}

body section.sec44 > div.sec4sub3 > div:first-of-type h3 {
  font-size: 2.8vw;
  font-weight: 700;
}

@media only screen and (max-width: 735px) {
  body section.sec44 > div.sec4sub3 > div:first-of-type h3 {
    font-size: 8.4vw;
  }
}

body section.sec44 > div.sec4sub3 > div:first-of-type p {
  font-size: 1.5vw;
  font-weight: 700;
}

@media only screen and (max-width: 735px) {
  body section.sec44 > div.sec4sub3 > div:first-of-type p {
    font-size: 3.3vw;
    font-weight: 500;
  }
}

body section.sec44 > div.sec4sub3 > div:first-of-type a {
  text-decoration: none;
  font-size: 1.2vw;
  font-weight: 800;
  margin-top: 3vw;
}

@media only screen and (max-width: 735px) {
  body section.sec44 > div.sec4sub3 > div:first-of-type a {
    font-size: 2.64vw;
  }
}

body section.sec44 > div.sec4sub3 > div:last-of-type {
  margin-right: 15vw;
}

body section.sec44 > div.sec4sub4 {
  background: #00a82d;
  border-radius: 5%;
  padding: 1.5vw 1.5vw;
  transition: background-color 0.5s;
}

@media only screen and (max-width: 735px) {
  body section.sec44 > div.sec4sub4 {
    width: 90%;
    padding: 3.7vw 1.5vw;
  }
}

body section.sec44 > div.sec4sub4 a {
  vertical-align: middle;
  text-decoration: none;
  color: white;
  font-size: 1.4vw;
  font-weight: 900;
}

@media only screen and (max-width: 735px) {
  body section.sec44 > div.sec4sub4 a {
    font-size: 3vw;
  }
}

body section.sec44 > div.sec4sub4:hover {
  cursor: pointer;
  background-color: #00c234;
}

body section.sec5 {
  margin-top: 10vw;
  margin-bottom: 30vw;
}

body section.sec5 div.sec5sub1 img {
  width: 2%;
  display: block;
  margin: 0 auto;
}

@media only screen and (max-width: 735px) {
  body section.sec5 div.sec5sub1 img {
    width: 5%;
    margin-bottom: 16vw;
  }
}

body section.sec5 div.sec5sub2 {
  margin: 0 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body section.sec5 div.sec5sub2 > img {
  opacity: 0.3;
}

body section.sec5 div.sec5sub2 > img:hover {
  cursor: pointer;
  opacity: 1;
}

body section.sec5 div.sec5sub2 > img:focus {
  background-color: black;
  outline: none;
}

@media only screen and (max-width: 735px) {
  body section.sec5 div.sec5sub2 > img {
    width: 20%;
    position: absolute;
    margin-left: 35%;
    opacity: 0;
  }
}

body section.sec5 div.sec5sub2 > img:nth-of-type(1) {
  animation: rotateText2 30s linear infinite;
}

@media only screen and (max-width: 735px) {
  body section.sec5 div.sec5sub2 > img:nth-of-type(1) {
    animation: rotateText 30s linear infinite;
  }
}

body section.sec5 div.sec5sub2 > img:nth-of-type(2) {
  animation: rotateText2 30s linear infinite;
  animation-delay: 5s;
}

@media only screen and (max-width: 735px) {
  body section.sec5 div.sec5sub2 > img:nth-of-type(2) {
    animation: rotateText 30s linear infinite;
    animation-delay: 5s;
  }
}

body section.sec5 div.sec5sub2 > img:nth-of-type(3) {
  animation: rotateText2 30s linear infinite;
  animation-delay: 10s;
}

@media only screen and (max-width: 735px) {
  body section.sec5 div.sec5sub2 > img:nth-of-type(3) {
    animation: rotateText 30s linear infinite;
    animation-delay: 10s;
  }
}

body section.sec5 div.sec5sub2 > img:nth-of-type(4) {
  animation: rotateText2 30s linear infinite;
  animation-delay: 15s;
}

@media only screen and (max-width: 735px) {
  body section.sec5 div.sec5sub2 > img:nth-of-type(4) {
    animation: rotateText 30s linear infinite;
    animation-delay: 15s;
  }
}

body section.sec5 div.sec5sub2 > img:nth-of-type(5) {
  animation: rotateText2 30s linear infinite;
  animation-delay: 20s;
}

@media only screen and (max-width: 735px) {
  body section.sec5 div.sec5sub2 > img:nth-of-type(5) {
    animation: rotateText 30s linear infinite;
    animation-delay: 20s;
  }
}

body section.sec5 div.sec5sub2 > img:nth-of-type(6) {
  animation: rotateText2 30s linear infinite;
  animation-delay: 25s;
}

@media only screen and (max-width: 735px) {
  body section.sec5 div.sec5sub2 > img:nth-of-type(6) {
    animation: rotateText 30s linear infinite;
    animation-delay: 25s;
  }
}

body section.sec5 div.sec5sub3 {
  margin-top: 5vw;
  text-align: center;
}

body section.sec5 div.sec5sub3 > p {
  position: absolute;
  font-size: 2vw;
  opacity: 0;
  padding: 0 12vw;
}

body section.sec5 div.sec5sub3 > p:nth-of-type(1) {
  animation: rotateText 30s linear infinite;
}

body section.sec5 div.sec5sub3 > p:nth-of-type(2) {
  animation: rotateText 30s linear infinite;
  animation-delay: 5s;
}

body section.sec5 div.sec5sub3 > p:nth-of-type(3) {
  animation: rotateText 30s linear infinite;
  animation-delay: 10s;
}

body section.sec5 div.sec5sub3 > p:nth-of-type(4) {
  animation: rotateText 30s linear infinite;
  animation-delay: 15s;
}

body section.sec5 div.sec5sub3 > p:nth-of-type(5) {
  animation: rotateText 30s linear infinite;
  animation-delay: 20s;
}

body section.sec5 div.sec5sub3 > p:nth-of-type(6) {
  animation: rotateText 30s linear infinite;
  animation-delay: 25s;
}

body section.sec8 {
  background: #00a82d;
  color: #fff;
  display: flex;
  height: 40vw;
  padding: 10vw 3vw 10vw 7vw;
  align-items: center;
}

body section.sec8 > div:first-of-type {
  flex-grow: 1.6;
  padding-right: 15vw;
}

body section.sec8 > div:first-of-type > h3 {
  font-size: 3.2vw;
  font-weight: 700;
}

body section.sec8 > div:first-of-type > p {
  font-size: 1.8vw;
  font-weight: 300;
}

body section.sec8 > div:last-of-type {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: space-between;
  text-align: center;
}

body section.sec8 > div:last-of-type > a:first-of-type {
  text-align: left;
  align-self: center;
  text-decoration: none;
  border-radius: 5%;
  font-size: 1.3vw;
  padding: 1vw 2.5vw 1vw 1.5vw;
  background: #fff;
  color: #000;
}

body section.sec8 > div:last-of-type > a:first-of-type > img {
  width: 5%;
}

body section.sec8 > div:last-of-type > p {
  font-size: 2vw;
  margin: 2vw 0;
}

body section.sec8 > div:last-of-type > input {
  font-size: 1.6vw;
  color: rgba(0, 0, 0, 0.4);
  padding: 1vw 0.3vw 1vw 2vw;
  border-radius: 5%;
  width: 90%;
}

body section.sec8 > div:last-of-type > p:last-of-type {
  font-size: 0.9vw;
  text-align: left;
}

body section.sec8 > div:last-of-type > p:last-of-type > a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}

body section.sec8 > div:last-of-type > a:last-of-type {
  width: 80%;
  text-align: center;
  align-self: center;
  text-decoration: none;
  border-radius: 5%;
  font-size: 1.2vw;
  font-weight: 900;
  padding: 1.5vw 2.5vw;
  background: #fff;
  color: #00a82d;
}

body section.sec9 {
  display: flex;
  flex-direction: column;
  margin-bottom: 8vw;
}

body section.sec9 > div.logo {
  margin: 5vw auto;
  width: 88%;
  border-bottom: 4px solid black;
}

body section.sec9 > div.logo > img {
  width: 15vw;
}

body section.sec9 div.sec9container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  padding: 0 5% 0 10%;
}

body section.sec9 div.sec9container > div {
  flex-grow: 1.2;
}

body section.sec9 div.sec9container > div > a {
  text-decoration: none;
}

body section.sec9 div.sec9container > div > h4 {
  margin-bottom: 1vw;
  font-size: 1.1vw;
  font-weight: 900;
}

body section.sec9 div.sec9container > div > li {
  list-style-type: none;
  font-size: 0.9vw;
  margin-bottom: 2vw;
}

body section.sec9 div.sec9container > div > li > a {
  text-decoration: none;
  color: #000;
}

body section.sec9 div.sec9container > div > li > a:hover {
  color: #00a82d;
}

body section.sec9 div.sec9container > div:last-of-type {
  display: flex;
  justify-content: space-between;
  flex-grow: 1.5;
  align-items: baseline;
  padding: 0 3vw;
}

body section.sec9 div.sec9container > div:last-of-type > a {
  font-size: 1vw;
  font-weight: 700;
}

body section.sec9 div.sec9container > div:last-of-type > a.tobut {
  color: #00a82d;
  border: 2px solid #00a82d;
  background-color: #fff;
  padding: 0.7vw 3vw;
  margin: 0% 2%;
  font-size: 1vw;
  transition-duration: 0.4s;
}

body section.sec9 div.sec9container > div:last-of-type > a.tobut:hover {
  color: #fff;
  background-color: #00a82d;
}

.sec6 {
  width: 100%;
  height: 45vw;
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 6vw;
  padding-bottom: 6vw;
}

.sec6 p:nth-of-type(1) {
  font-size: 4vw;
  font-weight: bold;
}

.sec6 button {
  color: white;
  background: green;
  font-weight: bold;
  padding: 1.4vw 3.2vw;
  font-size: 1.2vw;
  border-radius: 12px;
  border: none;
}

.sec6 button:hover {
  background: rgba(26, 128, 0, 0.89);
}

.sec6 .divsec6 {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  color: black;
  font-family: 'Montserrat', sans-serif;
}

.sec6 .divsec6 div:nth-of-type(1) {
  margin: 0% 5vw;
  width: 20%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.sec6 .divsec6 div:nth-of-type(1) div:nth-of-type(1) {
  width: 50%;
  height: 50%;
  background: url(../images/sec6n1.png) no-repeat;
  background-size: 100% 100%;
}

.sec6 .divsec6 div:nth-of-type(1) p:nth-of-type(1) {
  font-weight: bold;
  font-size: 1.8vw;
}

.sec6 .divsec6 div:nth-of-type(1) p:nth-of-type(2) {
  font-size: 1.1vw;
  color: #888b8d;
}

.sec6 .divsec6 div:nth-of-type(2) {
  margin: 0% 5vw;
  width: 20%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.sec6 .divsec6 div:nth-of-type(2) div:nth-of-type(1) {
  width: 50%;
  height: 50%;
  background: url(../images/sec6n2.png) no-repeat;
  background-size: 100% 100%;
}

.sec6 .divsec6 div:nth-of-type(2) p:nth-of-type(1) {
  font-weight: bold;
  font-size: 1.8vw;
}

.sec6 .divsec6 div:nth-of-type(2) p:nth-of-type(2) {
  font-size: 1.1vw;
  color: #888b8d;
}

.sec6 .divsec6 div:nth-of-type(3) {
  margin: 0% 5vw;
  width: 20%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.sec6 .divsec6 div:nth-of-type(3) div:nth-of-type(1) {
  width: 50%;
  height: 50%;
  background: url(../images/sec6n3.png) no-repeat;
  background-size: 100% 100%;
}

.sec6 .divsec6 div:nth-of-type(3) p:nth-of-type(1) {
  font-weight: bold;
  font-size: 1.8vw;
}

.sec6 .divsec6 div:nth-of-type(3) p:nth-of-type(2) {
  font-size: 1.1vw;
  color: #888b8d;
}

.sec6 .divsec6 div:nth-of-type(4) {
  margin: 0% 5vw;
  width: 20%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.sec6 .divsec6 div:nth-of-type(4) div:nth-of-type(1) {
  width: 50%;
  height: 50%;
  background: url(../images/sec6n4.png) no-repeat;
  background-size: 100% 100%;
}

.sec6 .divsec6 div:nth-of-type(4) p:nth-of-type(1) {
  font-weight: bold;
  font-size: 1.8vw;
}

.sec6 .divsec6 div:nth-of-type(4) p:nth-of-type(2) {
  font-size: 1.1vw;
  color: #888b8d;
}

.sec7 {
  width: 100%;
  height: 50vw;
  margin: 0% auto;
  background: white;
}

.sec7 p:nth-of-type(1) {
  font-weight: bold;
  margin: 2vw auto;
  text-align: center;
  font-size: 2vw;
  color: black;
}

.sec7 .divsec7 {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  color: black;
  font-family: 'Montserrat', sans-serif;
}

.sec7 .divsec7 div:nth-of-type(1) {
  margin: 0% 5vw;
  width: 20%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.sec7 .divsec7 div:nth-of-type(1) div:nth-of-type(1) {
  width: 50%;
  height: 50%;
  background: url(../images/sec7n1.png) no-repeat;
  background-size: 100% 100%;
}

.sec7 .divsec7 div:nth-of-type(1) p:nth-of-type(1) {
  font-weight: bold;
  font-size: 1.8vw;
}

.sec7 .divsec7 div:nth-of-type(2) {
  margin: 0% 5vw;
  width: 20%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.sec7 .divsec7 div:nth-of-type(2) div:nth-of-type(1) {
  width: 50%;
  height: 50%;
  background: url(../images/sec7n2.png) no-repeat;
  background-size: 100% 100%;
}

.sec7 .divsec7 div:nth-of-type(2) p:nth-of-type(1) {
  font-weight: bold;
  font-size: 1.8vw;
}

.sec7 .divsec7 div:nth-of-type(3) {
  margin: 0% 5vw;
  width: 20%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.sec7 .divsec7 div:nth-of-type(3) div:nth-of-type(1) {
  width: 50%;
  height: 50%;
  background: url(../images/sec7n3.png) no-repeat;
  background-size: 100% 100%;
}

.sec7 .divsec7 div:nth-of-type(3) p:nth-of-type(1) {
  font-weight: bold;
  font-size: 1.8vw;
}

.sec7 .divsec7 div:nth-of-type(4) {
  margin: 0% 5vw;
  width: 20%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.sec7 .divsec7 div:nth-of-type(4) div:nth-of-type(1) {
  width: 50%;
  height: 50%;
  background: url(../images/sec7n4.png) no-repeat;
  background-size: 100% 100%;
}

.sec7 .divsec7 div:nth-of-type(4) p:nth-of-type(1) {
  font-weight: bold;
  font-size: 1.8vw;
}

.sec7 .divsec7 div:nth-of-type(5) {
  margin: 0% 5vw;
  width: 20%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.sec7 .divsec7 div:nth-of-type(5) div:nth-of-type(1) {
  width: 50%;
  height: 50%;
  background: url(../images/sec7n5.png) no-repeat;
  background-size: 100% 100%;
}

.sec7 .divsec7 div:nth-of-type(5) p:nth-of-type(1) {
  font-weight: bold;
  font-size: 1.8vw;
}

.sec7 .divsec7 div:nth-of-type(6) {
  margin: 0% 5vw;
  width: 20%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.sec7 .divsec7 div:nth-of-type(6) div:nth-of-type(1) {
  width: 50%;
  height: 50;
  background: url(../images/sec7n6.png) no-repeat;
  background-size: 100% 100%;
}

.sec7 .divsec7 div:nth-of-type(6) p:nth-of-type(1) {
  font-weight: bold;
  font-size: 1.8vw;
}

section.sec10 {
  width: 90%;
  margin: 0 auto 3vw auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  padding-bottom: 2vw;
}

section.sec10 > div:first-of-type {
  flex-grow: 75;
  text-align: left;
  font-weight: 900;
}

section.sec10 > div:first-of-type > select {
  border: none;
}

section.sec10 > div {
  flex-grow: 4.16;
  margin: 0 auto;
  text-align: right;
}

section.sec11 {
  width: 90%;
  display: flex;
  margin: 0 auto 5vw auto;
}

section.sec11 > div:first-of-type {
  flex-grow: 85;
  text-align: left;
}

section.sec11 > div {
  flex-grow: 5;
  text-align: right;
}

section.sec11 > div > a {
  color: #888b8d;
  opacity: 1;
  font-weight: 900;
  text-decoration: none;
}

section.sec11 > div > a:hover {
  color: black;
}

* {
  margin: 0;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding: 0;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  box-sizing: border-box;
}

* {
  font-family: "Soleil", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

* {
  font-family: "Soleil", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

div {
  display: block;
}

.global-footer {
  font-family: "Soleil", Helvetica, Arial, sans-serif;
  color: #000;
  font-size: 14px;
  position: relative;
  padding: 80px 20px;
  padding-top: 80px;
  padding-right: 20px;
  padding-bottom: 80px;
  padding-left: 20px;
}

@media only screen and (max-width: 600px) {
  .global-footer .social-links a {
    height: 50px;
    width: 50px;
  }
}

.colored-background.grey {
  background-color: #f7f7f7;
}

.row {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 40px;
}

@media only screen and (max-width: 600px) {
  .row {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 600px) {
  .row {
    padding: 0 20px;
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .info-card-component.colored-background.grey .card-list.card-row {
    padding: 160px 0;
    padding-top: 160px;
    padding-right: 0px;
    padding-bottom: 160px;
    padding-left: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .card-list.card-row {
    padding: 120px 0;
    padding-top: 120px;
    padding-right: 0px;
    padding-bottom: 120px;
    padding-left: 0px;
  }
}

@media only screen and (max-width: 1100px) {
  .card-list.card-row {
    padding: 160px 40px 60px;
    padding-top: 160px;
    padding-right: 40px;
    padding-bottom: 60px;
    padding-left: 40px;
  }
}

.card-list.card-row {
  overflow-x: hidden;
  padding: 160px 0 60px;
  padding-top: 160px;
  padding-right: 0px;
  padding-bottom: 60px;
  padding-left: 0px;
}

@media only screen and (max-width: 600px) {
  .card-list {
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
}

.card-list.card-row .heading-content {
  margin-bottom: 100px;
}

.card-list .heading-content {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .card-list .heading-content .heading {
    font-size: 36px;
    line-height: 48px;
  }
}

@media only screen and (max-width: 600px) {
  h2 {
    font-size: 30px;
    line-height: 40px;
  }
}

@media only screen and (max-width: 960px) {
  h2 {
    font-size: 32px;
    line-height: 42px;
  }
}

h2 {
  display: block;
  font-size: 1.5em;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .card-list.card-row.four .cards .card {
    float: none;
    padding: 0;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    max-width: none;
    width: 100%;
  }
}

.card-list.card-row.four .cards .card {
  padding: 0 30px;
  padding-top: 0px;
  padding-right: 30px;
  padding-bottom: 0px;
  padding-left: 30px;
  width: 25%;
}

@media only screen and (max-width: 600px) {
  .card-list.card-row .cards .card {
    width: 50%;
  }
}

.card-list.card-row .cards .card {
  margin-bottom: 100px;
  margin-right: 0;
  padding: 0 10px;
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  text-align: center;
  width: calc(100% / 3);
}

.colored-background .card-list.card-row .cards .card .info .heading {
  font-family: "Soleil_Bold", Helvetica, Arial, sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
}

.card-list.card-row .cards .card .heading {
  margin-bottom: 26px;
}

.card-list .card {
  float: left;
  margin-bottom: 50px;
  margin-right: 50px;
  margin-top: auto;
  max-width: calc(50% - 25px);
  width: calc(50% - 25px);
}

.card-list .card .image {
  text-align: center;
}

.card-list .card .image img {
  display: inline-block;
  max-width: 100%;
  max-height: 360px;
}

@media only screen and (max-width: 600px) {
  .card-list .card .heading {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 20px;
  }
}

.card-list .card .heading {
  font-size: 32px;
  letter-spacing: 0;
  line-height: 40px;
  margin-bottom: 40px;
}

.card-list .card .image + .info {
  margin-top: 20px;
}

@media only screen and (max-width: 600px) {
  .card-list .list-cta-buttons {
    margin-top: 68px;
  }
}

.card-list .list-cta-buttons .button-primary {
  background-color: #00a82d;
  font-size: 16px;
  text-transform: uppercase;
}

@media only screen and (max-width: 600px) {
  .card-list .list-cta-buttons .button-primary {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .card-list .list-cta-buttons {
    margin-top: 68px;
  }
}

.card-list .list-cta-buttons {
  text-align: center;
  margin-top: 120px;
}

.button-primary, a:link.button-primary, a:visited.button-primary {
  display: inline-block;
  font-family: "Soleil_Bold", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
  text-align: center;
  color: #fff;
  background: #00A82D;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: #00a82d;
  border: 0;
  border-top-color: initial;
  border-top-style: initial;
  border-top-width: 0px;
  border-right-color: initial;
  border-right-style: initial;
  border-right-width: 0px;
  border-bottom-color: initial;
  border-bottom-style: initial;
  border-bottom-width: 0px;
  border-left-color: initial;
  border-left-style: initial;
  border-left-width: 0px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-radius: 5px;
  padding: 18px 20px 17px;
  padding-top: 18px;
  padding-right: 20px;
  padding-bottom: 17px;
  padding-left: 20px;
  transition: .3s background ease-in-out;
  transition-property: background;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  -webkit-font-smoothing: antialiased;
}

@media only screen and (max-width: 600px) {
  .colored-background.grey .card-list.card-row {
    padding: 160px 0;
    padding-top: 160px;
    padding-right: 0px;
    padding-bottom: 160px;
    padding-left: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .card-list.card-row {
    padding: 120px 0;
    padding-top: 120px;
    padding-right: 0px;
    padding-bottom: 120px;
    padding-left: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .row {
    padding: 0 20px;
  }
}

.row {
  max-width: 1220px;
  margin: 0 auto;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding: 0 40px;
  padding-top: 0px;
  padding-right: 40px;
  padding-bottom: 0px;
  padding-left: 40px;
}

@media only screen and (max-width: 600px) {
  .sign-up {
    padding: 120px 20px;
    padding-top: 120px;
    padding-right: 20px;
    padding-bottom: 120px;
    padding-left: 20px;
  }
}

.sign-up {
  background-color: #00a82d;
  color: #fff;
  padding: 160px 40px;
}

@media only screen and (max-width: 600px) {
  .sign-up {
    padding: 120px 20px;
  }
}

.sign-up .container {
  align-items: center;
  display: flex;
  max-width: 1220px;
  margin: 0 auto;
  width: auto;
}

@media only screen and (max-width: 600px) {
  .sign-up .container {
    flex-direction: column;
  }
}

.sign-up .container .col {
  flex: 1;
}

.sign-up .container .col.text {
  margin-right: 200px;
  word-wrap: break-word;
}

@media only screen and (max-width: 1100px) {
  .sign-up .container .col.text {
    margin-right: 80px;
  }
}

@media only screen and (max-width: 900px) {
  .sign-up .container .col.text {
    margin-right: 40px;
  }
}

@media only screen and (max-width: 600px) {
  .sign-up .container .col.text {
    margin-right: 0;
  }
}

.sign-up .container .col.form {
  margin-left: auto;
  max-width: 360px;
}

@media only screen and (max-width: 900px) {
  .sign-up .container .col.form {
    max-width: none;
  }
}

.sign-up .title {
  font-family: "Soleil_Light", Helvetica, Arial, sans-serif;
  font-size: 44px;
  line-height: 56px;
  margin: 0;
  padding: 0;
}

.sign-up .button-google {
  font-family: "Soleil", Helvetica, Arial, sans-serif;
  background: url("https://madeby.google.com/static/images/google_g_logo.svg\a") no-repeat;
  background-position: left 20px center;
  background-color: #fff;
  background-size: 18px 18px;
  border-radius: 4px;
  border: 0;
  border-radius: 5px;
  color: #000;
  display: block;
  font-size: 18px;
  margin: 0;
  padding: 16px 40px 16px 60px;
  text-decoration: none;
}

.sign-up .button-primary {
  cursor: pointer;
}

.sign-up .button-primary.white {
  background-color: #fff;
  color: #00a82d;
  font-family: "Soleil_Bold", Helvetica, Arial, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  width: 100%;
}

.sign-up .button-primary.white:hover {
  background-color: #f7f7f7;
}

.sign-up input.button-primary {
  -webkit-appearance: none;
  appearance: none;
}

.sign-up .form-errors-container {
  margin-top: 16px;
  position: absolute;
}

.sign-up .legal a {
  font-weight: bold;
}

.sign-up .legal a:link, .sign-up .legal a:visited {
  color: #fff;
  text-decoration: none;
}

.sign-up .form-row.or {
  margin: 24px 0;
  margin-top: 24px;
  margin-right: 0px;
  margin-bottom: 24px;
  margin-left: 0px;
  text-align: center;
}

form {
  display: block;
  margin-top: 0em;
}

.sign-up form input[type=email],
.sign-up form input[type=password] {
  font-family: "Soleil", Helvetica, Arial, sans-serif;
  -webkit-appearance: none;
  appearance: none;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #eef2f3;
  color: #000;
  font-size: 18px;
  line-height: 1em;
  padding: 16px 20px;
  width: 100%;
}

.sign-up form input[type=email]::placeholder,
.sign-up form input[type=password]::placeholder {
  color: #94999C;
  opacity: 1;
}

.sign-up form input[type=email].active-error,
.sign-up form input[type=password].active-error {
  background-color: #eef2f3;
  border: 1px solid #ff415f;
  color: #ff415f;
}

.sign-up form input[type=email].active-error::placeholder,
.sign-up form input[type=password].active-error::placeholder {
  color: #ff415f;
}

.sign-up .form-input:first-of-type {
  margin-top: 0;
}

.sign-up .form-input {
  margin: 16px 0;
  margin-top: 16px;
  margin-right: 0px;
  margin-bottom: 16px;
  margin-left: 0px;
}

p, ul, ol, table {
  font-family: "Soleil", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 21px;
}

p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.sign-up .button-primary.white {
  background-color: #fff;
  color: #00a82d;
  font-family: "Soleil_Bold", Helvetica, Arial, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  width: 100%;
}

.sign-up .form-submit {
  margin-top: 32px;
}

@media only screen and (max-width: 900px) {
  .sign-up .container .col.form {
    max-width: none;
  }
}

.sign-up .container .col.form {
  margin-left: auto;
  max-width: 360px;
}

.global-footer .legal:lang(ru) {
  font-family: sans-serif;
  font-weight: lighter;
}

@media only screen and (max-width: 600px) {
  .global-footer .legal {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.global-footer .legal a:link,
.global-footer .legal a:visited {
  color: #888b8d;
}

.global-footer .legal a:hover,
.global-footer .legal a:focus {
  color: #000;
}

.global-footer .legal .copyright {
  float: left;
}

@media only screen and (max-width: 600px) {
  .global-footer .legal .copyright {
    float: none;
    margin-bottom: 60px;
    order: 1;
  }
}

.global-footer .legal .links {
  float: right;
  list-style-type: none;
}

@media only screen and (max-width: 600px) {
  .global-footer .legal .links {
    float: none;
    margin-bottom: 60px;
    order: -1;
    display: flex;
    justify-content: space-between;
  }
}

.global-footer .legal .links li {
  display: inline-block;
  margin-left: 30px;
}

.global-footer .legal .links li:first-child {
  margin-left: 0;
}

@media only screen and (max-width: 600px) {
  .global-footer .legal .links li {
    margin-left: 0;
  }
}

.global-footer .mobile-logo {
  display: none;
}

@media only screen and (max-width: 600px) {
  .global-footer .mobile-logo {
    display: block;
    text-align: center;
  }
}

.colored-background .card-list.card-row .cards .card .info .heading {
  font-family: "Soleil_Bold", Helvetica, Arial, sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
}

.colored-background .card-list.card-row .cards .card .info .content {
  font-family: "Soleil_Light", Helvetica, Arial, sans-serif;
  color: #192026;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 32px;
  margin-top: 16px;
  text-align: center;
}

.global-footer {
  font-family: "Soleil", Helvetica, Arial, sans-serif;
  color: #000;
  font-size: 14px;
  position: relative;
  padding: 80px 20px;
}

.global-footer:lang(ru) {
  font-family: sans-serif;
  font-weight: lighter;
}

@media only screen and (max-width: 600px) {
  .global-footer {
    padding: 120px 20px 80px;
  }
}

.global-footer a,
.global-footer p,
.global-footer ul {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

.global-footer a:link,
.global-footer a:visited {
  text-decoration: none;
  color: #000;
  transition: .1s color ease-in-out;
}

.global-footer a:hover,
.global-footer a:focus {
  color: #00a82d;
}

.global-footer .nav-section .row {
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.global-footer .nav-section .row::after {
  content: '';
  display: block;
  clear: both;
}

.global-footer .nav-section .row.footer-logo {
  border-bottom: 3px solid #000;
  margin-bottom: 48px;
  padding-bottom: 48px;
}

@media only screen and (max-width: 600px) {
  .global-footer .nav-section .row.footer-logo {
    border-bottom-width: 2px;
    margin-bottom: 120px;
    padding-bottom: 60px;
  }
}

.global-footer .nav-section .row.footer-logo .logo {
  background-image: url("https://www.vectorlogo.zone/logos/evernote/evernote-card.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 80px;
  width: 190px;
}

@media only screen and (max-width: 600px) {
  .global-footer .nav-section .row.footer-logo .logo {
    height: 32px;
    width: 142px;
  }
}

.global-footer .nav-section .row.footer-flex {
  display: flex;
}

@media only screen and (max-width: 600px) {
  .global-footer .nav-section .row.footer-flex {
    flex-direction: column;
  }
}

.global-footer .nav-section .row.language-social {
  border-bottom: 1px solid rgba(136, 139, 141, 0.5);
  margin-bottom: 35px;
  padding-bottom: 35px;
}

@media only screen and (max-width: 600px) {
  .global-footer .nav-section .row.language-social {
    border-bottom: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.global-footer .nav-section.footer-nav {
  margin-bottom: 100px;
}

@media only screen and (max-width: 600px) {
  .global-footer .nav-section.footer-nav {
    margin-bottom: 0;
  }
}

.global-footer .nav-section.footer-info {
  font-size: 12px;
}

@media only screen and (max-width: 600px) {
  .global-footer .nav-section.footer-info {
    font-size: 13px;
  }
}

.global-footer .link-section {
  display: block;
  flex: 1 1 16.666%;
  max-width: 16.666%;
}

@media only screen and (max-width: 600px) {
  .global-footer .link-section {
    font-size: 16px;
    flex: 1;
    margin-bottom: 40px;
    max-width: none;
  }
  .global-footer .link-section:last-child {
    margin-bottom: 0;
  }
}

.global-footer .link-section.signup-login {
  text-align: right;
}

@media only screen and (max-width: 600px) {
  .global-footer .link-section.signup-login {
    display: none;
  }
}

.global-footer .link-section ul {
  list-style-type: none;
}

.global-footer .link-section li {
  margin: 28px 0;
  line-height: normal;
}

.global-footer .link-section a {
  font-family: "Soleil_Light", Helvetica, Arial, sans-serif;
  position: relative;
}

.global-footer .link-section a:lang(ru) {
  font-family: sans-serif;
  font-weight: lighter;
}

.global-footer .link-section a.footer-signup {
  font-family: "Soleil", Helvetica, Arial, sans-serif;
  color: #00a82d;
}

.global-footer .link-section .button-outline:hover {
  background-color: #00a82d;
  color: #fff;
}

.global-footer .link-section .signup-or {
  display: inline-block;
  margin-right: .5em;
}

.global-footer .link-section .new {
  position: absolute;
  top: -10px;
  left: 100%;
  font-family: "Soleil_Bold", Helvetica, Arial, sans-serif;
  font-size: 9px;
  text-transform: uppercase;
  color: #00a82d;
  margin-left: -15px;
  white-space: nowrap;
}

.global-footer .link-section .new:lang(fr) {
  left: 0;
  margin-left: 10px;
}

.global-footer .link-section-header {
  font-family: "Soleil_Bold", Helvetica, Arial, sans-serif;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.global-footer .language-selector {
  float: left;
}

@media only screen and (max-width: 600px) {
  .global-footer .language-selector {
    border-bottom: 1px solid rgba(136, 139, 141, 0.5);
    border-top: 1px solid #000;
    display: inline-block;
    flex: 1;
    float: none;
    margin-bottom: 60px;
    order: 1;
    padding-bottom: 60px;
    padding-top: 60px;
    position: relative;
    width: 100%;
  }
}

.global-footer .language-selector .current-language {
  font-family: "Soleil", Helvetica, Arial, sans-serif;
  display: inline-block;
  margin-left: .5em;
}

@media only screen and (max-width: 600px) {
  .global-footer .language-selector .current-language {
    float: right;
  }
}

.global-footer .language-selector-toggle {
  color: #000;
  font-family: "Soleil_Bold", Helvetica, Arial, sans-serif;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .global-footer .language-selector-toggle {
    text-align: left;
  }
}

.global-footer .language-selector-toggle:active, .global-footer .language-selector-toggle:focus {
  color: #000;
}

.global-footer .language-selector-toggle .arrow {
  position: relative;
  top: -2px;
  display: inline-block;
  border-top: 6px solid #000;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  margin-left: 7px;
  transition: .1s border ease-in-out;
}

.global-footer .language-selector-options {
  display: none;
  position: absolute;
  left: 40px;
  bottom: 100%;
  width: 430px;
  background: #e7f0f4;
  margin-bottom: 8px;
  padding: 10px 0;
}

@media only screen and (max-width: 600px) {
  .global-footer .language-selector-options {
    position: static;
    width: 100%;
    text-align: center;
    background: transparent;
    margin: 0;
  }
}

.global-footer .language-selector-options.open {
  display: block;
}

.global-footer .language-selector-options ul {
  float: left;
  width: 50%;
  list-style-type: none;
}

@media only screen and (max-width: 600px) {
  .global-footer .language-selector-options ul {
    display: inline-block;
    float: none;
    width: 49%;
    text-align: left;
  }
}

@media only screen and (max-width: 600px) {
  .global-footer .language-selector-options ul {
    width: 100%;
  }
}

.global-footer .language-selector-options a {
  display: block;
  color: #000;
  text-decoration: none;
  padding: 4px 20px 6px;
}

.global-footer .language-selector-options a:hover {
  background: #00a82d;
  color: #fff;
}

@media only screen and (max-width: 960px) {
  .global-footer .language-selector-options a {
    padding: 7px 0 9px;
  }
  .global-footer .language-selector-options a:hover {
    background: transparent;
    color: #00a82d;
  }
}

.global-footer .social-links {
  float: right;
}

@media only screen and (max-width: 600px) {
  .global-footer .social-links {
    float: none;
    flex: 1;
    order: -1;
    margin-bottom: 80px;
  }
}

.global-footer .social-links ul {
  list-style-type: none;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  .global-footer .social-links ul {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}

.global-footer .social-links li {
  float: left;
  margin-left: 24px;
}

.global-footer .social-links li:first-child {
  margin-left: 0;
}

@media only screen and (max-width: 600px) {
  .global-footer .social-links li {
    display: inline-block;
    float: none;
    flex: 0 0 auto;
    margin-left: 0;
  }
}

.global-footer .social-links a {
  display: block;
  height: 32px;
  overflow: hidden;
  text-align: center;
  width: 32px;
}

@media only screen and (max-width: 600px) {
  .global-footer .social-links a {
    height: 50px;
    width: 50px;
  }
}

.global-footer .social-links img {
  display: block;
  height: auto;
  max-width: 100%;
  width: auto;
}

@media only screen and (max-width: 600px) {
  .global-footer .social-links img {
    height: 100%;
    width: 100%;
  }
}

.global-footer .social-links span {
  position: absolute;
  right: 9999px;
}

.global-footer .social-links .youtube {
  margin-top: 2px;
}

.global-footer .legal {
  font-family: "Soleil_Light", Helvetica, Arial, sans-serif;
  color: #888b8d;
}

.global-footer .legal:lang(ko) {
  font-family: "\B098\B214\ACE0\B515", "NanumGothic", "\B9D1\C740   \ACE0\B515", "Malgun Gothic", "\B3CB\C6C0", "DotumChe", "Dotum", sans-serif;
}

.global-footer .legal:lang(ja), .global-footer .legal:lang(jp) {
  font-family: "\30D2\30E9\30AE\30CE\89D2\30B4   ProN W3", "Hiragino Kaku Gothic ProN", "\30E1\30A4\30EA\30AA", Meiryo, "MS P\30B4\30B7\30C3\30AF", "MS PGothic", sans-serif;
}

.global-footer .legal:lang(zh-cn), .global-footer .legal:lang(zh-tw) {
  font-family: "Hiragino Sans GB", "STHeiti", "Microsoft Yahei", sans-serif;
}

.global-footer .legal:lang(ru) {
  font-family: sans-serif;
  font-weight: lighter;
}

@media only screen and (max-width: 600px) {
  .global-footer .legal {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.global-footer .legal a:link,
.global-footer .legal a:visited {
  color: #888b8d;
}

.global-footer .legal a:hover,
.global-footer .legal a:focus {
  color: #000;
}

.global-footer .legal .copyright {
  float: left;
}

@media only screen and (max-width: 600px) {
  .global-footer .legal .copyright {
    float: none;
    margin-bottom: 60px;
    order: 1;
  }
}

.global-footer .legal .links {
  float: right;
  list-style-type: none;
}

@media only screen and (max-width: 600px) {
  .global-footer .legal .links {
    float: none;
    margin-bottom: 60px;
    order: -1;
    display: flex;
    justify-content: space-between;
  }
}

.global-footer .legal .links li {
  display: inline-block;
  margin-left: 30px;
}

.global-footer .legal .links li:first-child {
  margin-left: 0;
}

@media only screen and (max-width: 600px) {
  .global-footer .legal .links li {
    margin-left: 0;
  }
}

.global-footer .mobile-logo {
  display: none;
}

@media only screen and (max-width: 600px) {
  .global-footer .mobile-logo {
    display: block;
    text-align: center;
  }
}

.card-list .heading-content {
  margin-bottom: 200px;
  text-align: center;
}

.card-list .heading-content img + .heading {
  margin-top: 100px;
}

.card-list .heading-content .heading {
  font-family: "Soleil_Light", Helvetica, Arial, sans-serif;
  font-size: 48px;
  line-height: 64px;
}
